@using ExcelAndDatabaseMvcApp.Entities;
@model List<Employee>

<h1>Czas pracy dla @Model[0].Name</h1>
<h1>Pesel: @Model[0].PESEL</h1>

<table class="table">
    <thead>
        <tr>

            <th>Data rejestracji</th>
            <th>Czas pracy</th>
            <th>Zarobek brutto pracownika</th>
            <th>Zarobek netto pracownika</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workLog in Model[0].WorkLogs)
        {
            <tr>
                <td>@workLog.Date</td>
                <td>@workLog.HoursWorked</td>
                <td>@workLog.CostNet.ToString("F2")</td>
                <td>@workLog.CostGross.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>
