@using ExcelAndDatabaseMvcApp.Dtos;
@model List<Summary>

<a asp-controller="Summary" asp-action="DownloadExcel">
    <button class="btn btn-primary w-50 h-25">Pobierz raport</button>
</a>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Koszt pracowników</th>
            <th>Koszt materiałów</th>
            <th>Dochód firmy</th>
            <th>Przychód brutto</th>
            <th>Przychód netto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var summary in Model)
        {
            <tr>
                <td>@summary.YearMonth</td>
                <td>@summary.EmployeesExpenses</td>
                <td>@summary.OrdersExpenses</td>
                <td>@summary.CompanyIncomes</td>
                <td>@summary.ProfitBrutto</td>
                <td>@summary.ProfitNetto</td>
            </tr>
        }
    </tbody>
</table>