@using ExcelAndDatabaseMvcApp.Entities;
@model List<Order>

<table class="table">
    <thead>
        <tr>
            <th>Numer zamówienia</th>
            <th>Data zamówienia</th>
            <th>Koszt brutto</th>
            <th>Koszt netto</th>
            <th>Zakupione przedmioty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.Date</td>
                <td>@order.TotalGross</td>
                <td>@order.TotalNet.ToString("F2")</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Order" asp-action="OrderItem" asp-route-id="@order.Id" role="button">Szczegóły</a>
                </td>   
            </tr>
        }
    </tbody>
</table>